*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */

body{

    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn{
    background: #F15B22;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
    border: 0;
    color: #FFF;
}

/* shared style End */

/* start header style start */

header{
    background-image: url('images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position:bottom;
}

.header-content-container{
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
    margin-right:230px;
    height: 100vh;
}

.header-content{
    color:#151414;
}

.title{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
}

.title-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 32px;
}

/* end header style start */

/* Start company brief style start */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 140px 322px 130px 230px;
    gap: 134px;
}

.banner-image{
    width: 450px;
}

.banner-title{
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

.banner-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.inportant-marking-list{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.inportant-marking-list ul li{
    list-style: none;
}

.inportant-marking-list ul li i{
   color: #16D887;
   font-size: 16px;
   margin-right: 10px;
}
/* end company brief style start */